div{

       display: inline-block;

}

.FIRSTDIV{
     background-color: greenyellow;
     width: 220px;
    height: 270px;

}

.SECONDDIV{
    
    background-color: white;
    width: 65px;
    height:65px;
    margin: 15px;
    padding: 10px;
}

.THIRDDIV{
    background-color: black;
    width: 50px;
    height: 50px;
    
    
}

.FOURTHDIV{
    
    background-color: white;
    width: 65px;
    height:65px;
    margin: 15px;
    padding: 10px;
    margin-left: -100px;
}

.FIFTHDIV{
    background-color: black;
    width: 50px;
    height: 50px;
}

.SIXTHDIV{
    background-color: black;
    width: 175px;
    height: 125px;
    position: absolute
   
    margin-left: 20px;
}