h1{
    color:red;
    font-family: verdana;
    font-size: 300%;
}
body{
    background: yellow;
    background-repeat: no-repeat;
}
    div{
        background: red;
        border:green;
        border-width: 2px;
        border-style:solid;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    span{
        background: red;
        color: blue;
    }
#DIV1{
    background: blue;
    border:black;
    font-size: 20px;
    color:aqua;
        border-width: 2px;
        border-style:solid;
        border-color: black;
}

#DIV2{
    background: green;
    border:blue;
        font-size: 50px;
    color: white;
        border-width: 2px;
        border-style:solid;
}

#DIV3{
    background: white;
    border:red;
        border-width: 2px;
        border-style:solid;
}

.PARAGRAPH{
    color:blue;
    background: white;
    height: 100px;
}

.PARAGRAPH1{
    color:blueviolet;
    background: white;
    width: 100px;
}

.PARAGRAPH2{
    color:chocolate;
    background:white;
    position: absolute;
    top: 100px;
    left: 300px;
}

.PARAGRAPH3{

    color:coral;
    background: white;
    position: relative;
    top: 50px;
    left: 150px;
    margin: 20px;
}
    