h1{
    color:red;
    font-family: verdana;
    font-size: 300%;
}
body{
    background: yellow;
    background-repeat: no-repeat;
}
    div{
        background: red;
        border:green;
        border-width: 2px;
        border-style:solid;
    }

    span{
        background: red;
        color: blue;
    }